#gameGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.grid-tile {
  width: 50px;
  height: 50px;
  background: #333;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #444;
}

.grid-tile:hover {
  background: #444;
  transform: scale(0.98);
}

.grid-tile.opened {
  background: #1e1e1e;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.grid-tile.mine {
  background: #ff0000;
  color: white;
  font-size: 1.2rem;
}

.grid-tile.safe {
  background: #00ff99;
  color: black;
  font-size: 1.2rem;
}
